.App {
  text-align: center;
}

.appContainer {
  width: 800px; 
  margin-left: auto;
  margin-right: auto;
}

.calendarComponent {
  width: 800px
}

.cell {
  border-style: solid;
  width: 140px;
  height: 100px;
  float: left;
}

#monthDropdown {
  clear: left;
  text-align: center;
}

.cellDay {
  
}