.App {
  text-align: center;
}

.appContainer {
  width: 800px; 
  margin-left: auto;
  margin-right: auto;
}

.calendarComponent {
  width: 600px
}

.cell {
  border-style: solid;
  width: 100px;
  float: left;
}

#monthDropdown {
  clear: left;
}